*.png
*.stl
*.jpg
.DS_Store
/IScene.class
/LineStrip3D2.class
/SoundSpiralProperties.class
/SpiralLineStrip3D.class
/DataShapeStudio.class
/DataShapeStudio$SCENES.class
/DataShapeStudioMain$SCENES.class
/DataShapeStudioMain.class
